docker {
  enabled = true
  registry = 'ghcr.io'
  userName = 'arkhammknight'
  password = 'your-github-personal-access-token'
}

wave {
  enabled = false
}

// Remove or comment out the registry block if you're using the docker block above
// registry {
//     enabled = true
//     userName = 'arkhammknight'
//     email = 'your.email@example.com'
// }